.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebaseConfig.js*
*firebaseConfig.js
src/firebaseConfig.js*
*src/firebaseConfig.js


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
firebaseConfig.js*
*firebaseConfig.js
src/firebaseConfig.js*
*src/firebaseConfig.js
